VITE_TMDB_API_KEY=

# SMTP Configuration for Email Notifications
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Real-Debrid API Key
REAL_DEBRID_API_KEY=

# TMDB API Key
TMDB_API_KEY=

# App Configuration
APP_URL=
NODE_ENV=development

# Paymob Integration
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=
PAYMOB_IFRAME_ID=
PAYMOB_HMAC_SECRET=
